In [2]:
import pandas as pd

In [11]:
data_df = pd.read_csv("Resources/Accidental_Drug_Related_Deaths_2012-2017.csv")
data_df.head()

,CaseNumber,Date,Year,Sex,Race,Age,Residence City,Residence State,Residence County,Death City,...,Tramad,Morphine (not heroin),Other,Any Opioid,MannerofDeath,AmendedMannerofDeath,DeathLoc,DeathLocationCity,DeathLocLat,DeathLocLong
0,14-9876,6/28/2014,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Accident,NaN,"CT\n(41.544654, -72.651713)",CT\n(41.544654,41.54465,72.651713
1,12-16897,11/30/2012,2012,Male,White,45.0,NaN,NaN,NaN,NEW HAVEN,...,NaN,NaN,NaN,NaN,Accident,NaN,"NEW HAVEN, CT\n(41.308252, -72.924161)",NEW HAVEN,41.30825,72.924161
2,13-11849,8/12/2013,2013,Male,White,30.0,NEW HAVEN,NaN,NaN,NEW HAVEN,...,NaN,NaN,NaN,NaN,Accident,NaN,"NEW HAVEN, CT\n(41.308252, -72.924161)",NEW HAVEN,41.30825,72.924161
3,14-17578,11/23/2014,2014,Male,White,27.0,NAUGATUCK,NaN,NaN,NEW MILFORD,...,NaN,NaN,NaN,NaN,Accident,NaN,"NEW MILFORD, CT\n(41.576633, -73.408713)",NEW MILFORD,41.57663,73.408713
4,12-11497,8/14/2012,2012,Male,White,21.0,ENFIELD,NaN,NaN,ENFIELD,...,NaN,NaN,NaN,NaN,Accident,NaN,"ENFIELD, CT\n(41.976501, -72.591985)",ENFIELD,41.97650,72.591985